*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
main,
footer{
  justify-content: center;
}

.sectionone,
.sectiontwo,
.sectionthree{
  width: 100%;
}

h4,
a{
  text-transform: uppercase;
}